@import "src/styles";

.main-container {
  display: flex;
  flex-direction: column;

  max-width: 510px;
  margin: auto;
  padding: 50px 5px 5px;

  .notes-list {
    margin-top: 35px;
    margin-bottom: 70px;

    app-note-card {
      display: block;
      margin-bottom: 25px;
    }
  }

  .floating-add-button {
    position: fixed;
    bottom: 0;

    font-size: 24px;

    height: 68px;
    width: 500px;

    border-radius: 0;

    box-shadow: 0 0 15px 5px rgba($purple, 0.2);
  }
}
