<div class="main-section">

  <div class="main-container-box">

    <div class="form-container">
      <h1 class="title">Log in</h1>

      <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">

        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <label>
              <input
                [ngModel]="email"
                class="input"
                email
                minlength="5"
                name="email"
                placeholder="Ex: johndoe@email.com"
                required
                type="email">
            </label>
          </div>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <label>
              <input
                [ngModel]="password"
                class="input"
                minlength="8"
                name="password"
                placeholder="Enter a strong password"
                required
                type="password">
            </label>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <button [disabled]="!loginForm.valid" class="button is-primary has-text-white is-fullwidth"
                    style="margin-top: 28px"
                    type="submit">Log in
            </button>
          </div>
        </div>

      </form>
    </div>

    <div class="alternate-bar">
      <h2>Don't have an account?</h2>
      <button class="button" routerLink="/signup">Sign up</button>
    </div>

  </div>

</div>
